<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://www.example.org/helloworld">
	<name>luxmed.pl</name>
	<description>Description.</description>
	<author href="yourURL" email="yourEMail">Enter your name here</author>
  	<icon src="icons/hello.png"/>
</widget>

